button {
  margin-top: 5px;
  aspect-ratio: 3/1;
  width: 110px;
  background-color: rgb(81, 46, 113);
  border: none;
  color: white;
  font-size: 18px;
}

button:hover {
  background-color: rgb(69, 36, 100);
}

.secondary {
  background-color: rgb(137, 81, 190);
}

button.secondary:hover {
  background-color: rgb(104, 65, 167);
}
