.wrapper button {
  margin-top: 5px;
  aspect-ratio: 3/1;
  width: 110px;
  background-color: rgb(81, 46, 113);
  border: none;
  color: white;
  font-size: 18px;
}

.wrapper button:hover {
  background-color: rgb(71, 41, 99);
}
