.main {
  margin-top: 30px;
  background: rgb(246, 244, 244);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

.modal {
  z-index: 5;
  background: rgb(246, 244, 244);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 85%;
  height: 280px;
  position: relative;
  margin: 0 auto;
  margin-top: 280px;
  display: flex;
  flex-direction: column;
}
