/* Global reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* border: 10px solid #1098ad; */
  position: relative;
}

.container {
  width: 800px;
  margin: auto;
  position: relative;
}

.title {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
}

.post-header {
}

aside {
  background-color: rgb(234, 234, 234);
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px;
  width: 500px;
}

article {
  margin-bottom: 60px;
}

article header:first-child {
  margin-bottom: 40px;
}

h1 {
  color: rgba(89, 89, 239, 1);
  font-size: 35px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #1098ad;
}

p {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 1.5;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 15px;
}

li:last-child {
  margin-bottom: 0;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  color: red;
}

footer p {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* doesn't work p isn't a first child in article */
article p:first-child {
  color: red;
}

/* Styling Links */
a:any-link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy red;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

nav {
  font-size: 18px;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block;
  margin-left: 0; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::first-letter {
  font-size: 45px;
}

/* adjacent sibling selector */
h3 + p::first-line {
  color: red;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 5px;

  position: absolute;
  top: -5px;
  right: -5px;
}
